{extend name="base" /}
{block name="content"}
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{:url('Index/index')}">控制中心</a>
            </li>
            <li>
                <a href="{:url('index')}">文章管理</a>
            </li>
            <li class="active">添加文章</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption">新增栏目</span>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form class="form-horizontal" role="form" action="{:url('update', ['id'=>$Request.param.id])}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label no-padding-right">文章标题</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="title" placeholder="" name="title" required=""
                                               type="text" value="{$data.title}">
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>
                                <div class="form-group">
                                    <label for="keywords"
                                           class="col-sm-2 control-label no-padding-right">文章搜索关键字</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="keywords" placeholder="多个关键字使用,(逗号)隔开" name="keywords"
                                               required="" type="text" value="{$data.keywords}">
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>
                                <div class="form-group">
                                    <label for="des" class="col-sm-2 control-label no-padding-right">文章描述</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" id="des" placeholder="" name="des"
                                                  required="" style="resize:none;height:100px;font-size:2rem;">{$data.des}</textarea>
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>
                                <div class="form-group">
                                    <label for="content" class="col-sm-2 control-label no-padding-right">文章内容</label>
                                    <div class="col-sm-6">
                                        <script id="container" name="content" type="text/plain"></script>
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label no-padding-right">所属栏目</label>
                                    <div class="col-sm-6">
                                        <select name="cid">
                                            {volist name="cateData" id="list"}
                                            <option value="{$list.id}" {if $data.cid==$list.id}selected="selected"{/if}>
                                                {:str_repeat('-', $list['level']*2)}{$list['cate_name']}
                                            </option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-sm-6">
                                        <label for="exampleInputFile" style="" class="btn btn-primary">上传图片</label>
                                        <input type="file" id="exampleInputFile" name="thumb" style="display:none;">
                                        <img src="{$data.imgDir}/{$data.img}" width="100px" height="100px">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">保存信息</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>
{load href="__COMMON__/ueditor/ueditor.config.js,__COMMON__/ueditor/ueditor.all.js"}
<script type="text/javascript">
    var ue = UE.getEditor('container', {initialFrameHeight:600}),
        fileImg = document.getElementById('exampleInputFile');
    ue.ready(function () {
        ue.setContent({:json_encode($data.content)});
    });
    fileImg.addEventListener('change', function () {
        var fileReader = new FileReader(),
            self = this;
        fileReader.readAsDataURL(this.files[0]);
        fileReader.onloadend = function () {
            self.nextElementSibling.src = this.result;
        }
    }, false);

</script>
{/block}